/******************************************************************************/
/* .defaultQuote */
/******************************************************************************/
.defaultQuote {
	padding: 50px 0;
	color: #fff;
	font-size: 2em;
	margin-bottom: 20px;
	background-color: rgba(0,0,0, 0.5);
}