/******************************************************************************/
/* .widgetGrid */
/******************************************************************************/
.widgetGrid {@extend .cf;}

.widgetGrid .widget {
	padding: 20px;
	border-radius: 2px;
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.3);
}

/***************************************************************/
/* .widgetContent */
/***************************************************************/
.widgetContent p {line-height: 1.3em;}
.widgetContent p:not(:last-child) {margin-bottom: 10px;}