/******************************************************************************/
/* Widget Grid 1024px */
/******************************************************************************/
.widgetGrid .widget {
	width: calc(33.33333% - 20px);
	float: left;
	margin-right: 20px;
}

.widgetGrid .widget:nth-child(2n+1) {margin-left: 0;}